.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  list-style: none;
}

.category-card {
  padding: 1.2em;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 0.5em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--clr-light) !important;
  color: inherit !important;
}

.category-card:focus {
  outline: 1.5px solid var(--clr-accent);
  outline-offset: 3px;
}

.category-card--selected {
  background-color: #61dafb !important;
  color: #263238 !important;
}

.category-card:hover {
  transform: translateY(-0.2em);
}

.category-card i {
  font-size: var(--fs-large);
}
